                        <div class="col-lg-1"/>
                        <div class="col-lg-10" ng-controller="ReportInvoiceController">
                            <div class="row ">
                                <div class="col-lg-1 vcenter">
                                    <button class="btn"><i class="fa fa-arrow-left"></i></button>
                                </div>
                                <div class="col-lg-9 text-center vcenter border-bottom">
                                    <h4>Invoices by status</h4>
                                </div>
                                <div class="col-lg-1 vcenter">
                                    <button class="btn"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <nvd3 options="options" data="data"></nvd3>
                            </div>
                        </div>
                        <div class="col-lg-1"/>
