<div>
    <div class="row search-text" style="min-height:80px;margin-left:10px;margin-right:10px" ng-init="getQueryNames()">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-8">
                    <div class="form-group">
                        <div class="input-group">
                          <ui-select ng-model="data.command" theme="bootstrap" on-select="selectQuery(data.command)">
                            <ui-select-match placeholder="Pick a Command ...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="commandItem in queryNames| filter: $select.search">
                              <div ng-bind-html="commandItem.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                          <span class="input-group-btn">
                              <button type="button" ng-click="data.command = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                              </button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <div class="input-group">
                          <ui-select ng-model="data.env" theme="bootstrap">
                            <ui-select-match placeholder="Pick a env ...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="envItem in envNames| filter: $select.search">
                              <div ng-bind-html="envItem.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                          <span class="input-group-btn">
                              <button type="button" ng-click="data.env = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                              </button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-repeat="result in results">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-10">
                                    <h3 class="panel-title">{{result.query.name}}</h3>
                                </div>
                                <div class="col-lg-2" style="float:right">
                                    <button class="btn btn-circle btn-success" ng-click="updateResult(result.query)"><i class="fa fa-refresh"></i></button>
                                    <button class="btn btn-circle btn-danger" ng-click="deleteResult($index)"><i class="fa fa-trash"></i></button>
                                    <button class="btn btn-circle btn-success" ng-click="editQuery(result.query)"><i class="fa fa-edit"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row" style="max-width:100%;overflow:auto">
                                <div class="col-lg-12">
                                    <table class="table table-bordered table-small" fixed-header table-height="200px">
                                        <thead>
                                            <tr>
                                                <th ng-repeat="column in result.columns">{{column}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="display:none">
                                                <th ng-repeat="column in result.columns">{{column}}</th>
                                            </tr>
                                            <tr ng-repeat="rowLine in result.rows track by $index">
                                                <td style="white-space:nowrap" ng-click="copyValue(val1)" ng-repeat="val1 in rowLine track by $index">{{val1}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="row">
                <div class="form-group col-lg-3 vcenter">
                    <label>Name</label>
                </div>
                <div class="form-group col-lg-8 vcenter">
                    <input type="text" style="width:100%" class="form-control" ng-model="iName"></input>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-3 vcenter">
                    <label>Value</label>
                </div>
                <div class="form-group col-lg-8 vcenter">
                    <input type="text" style="width:100%" class="form-control" ng-model="iValue"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-block btn-success" ng-click="addName()"><i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
            <hr/>
            <div class="row" ng-repeat="name in names">
                <div class="form-group col-lg-3 vcenter">
                    <label>{{name.name}}</label>
                </div>
                <div class="form-group col-lg-6 vcenter">
                    <label>{{name.value}}</label>
                </div>
                <div class="form-group col-lg-1 vcenter">
                    <button class="btn btn-circle btn-danger" ng-click="deleteName($index)"><i class="fa fa-remove"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>